.card {
    display: flex;
    width: 320px;
    height: 400px;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
}
